* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    background-color: #fff;
    color: #333;
    font-size: 16px; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    position: absolute;
    background-color: transparent;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
}

/* About Section */
.about-us-container {
    margin-top: 85px;
    padding: 20px;
}

.about-card, .choose-card, .contact-card {
    background-color: #F2F8E2;
    padding: 20px;
    margin-bottom: 20px;
    border-radius: 8px;
    opacity: 0;
    animation: slideIn 0.8s forwards;
}

.about-card {
    animation: slideInLeft 0.8s forwards; /* Coming from the left */
}

.choose-card {
    animation: slideInRight 0.8s forwards; /* Coming from the right */
}

.contact-card {
    animation: slideInLeft 0.8s forwards; /* Coming from the left */
}

.about-card h3, .choose-card h3, .contact-card h3 {
    text-align: center;
    margin-top: 20px;
    font-size: 4rem;
    color: #0f660f;
}

.about-card p, .choose-card p, .contact-card p {
    color: #000;
    margin: 10px 0;
    text-align: center;
    font-size: 1.2rem;
}

/* Mission Section */
.mission-card, .offer-card {
    display: flex;
    flex-direction: row;
    gap: 20px;
    margin-bottom: 20px;
    opacity: 0;
    animation: slideIn 0.8s forwards;
}

.mission-card {
    animation: slideInRight 0.8s forwards; /* Coming from the right */
}

.offer-card {
    animation: slideInLeft 0.8s forwards; /* Coming from the left */
}

.mission-card .image, .offer-card .image {
    width: 50%;
    height: auto;
    border-radius: 8px;
    overflow: hidden;
}

.mission-card .details, .offer-card .details {
    color: #fff;
    background-color: #21a030;
    border-radius: 8px;
    text-align: center;
    width: 50%;
    padding: 20px;
}

.mission-card .details h3, .offer-card .details h3 {
    font-size: 4rem;
    margin-top: 2.5%;
}

.mission-card .details p, .offer-card .details p {
    font-size: 1.5rem;
    padding: 15px;
}

.offer-card .details ul {
    margin-top: 30px;
    padding: 15px;
    font-size: 1.4rem;
    list-style: none;
}

/* Choose Section */
.choose-card ul {
    list-style: none;
    display: flex;
    gap: 20px;
    margin: 15px 0 10px;
    flex-direction: row;
}

.choose-card li {
    font-size: 1.2rem;
}

.choose-card ul li a {
    text-decoration: none;
    color: #000;
    font-size: 1.2rem;
    transition: color 0.3s ease;
}

/* Hover effects */
.choose-card:hover, .about-card:hover, .contact-card:hover, .mission-card:hover, .offer-card:hover {
    transform: scale(1.05);
    transition: transform 0.3s ease;
}

/* Animations */
@keyframes slideInLeft {
    0% {
        opacity: 0;
        transform: translateX(-100px); /* Start off-screen to the left */
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    0% {
        opacity: 0;
        transform: translateX(100px); /* Start off-screen to the right */
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideIn {
    0% {
        opacity: 0;
        transform: translateX(100px); /* Start off-screen to the right */
    }
    50% {
        opacity: 0.5;
        transform: translateX(-50px); /* Move towards the center */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* End at its final position */
    }
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        font-size: 14px;
    }

    .navbar ul li a{
        color: white;
    }

    .about-card h3,
    .mission-card .details h3,
    .choose-card h3,
    .offer-card .details h3 {
        font-size: 6vw;
        font-weight: bold;
    }

    .about-card p,
    .mission-card .details p,
    .choose-card p {
        font-size: 4vw;
    }

    .choose-card ul {
        flex-direction: column;
    }

    .choose-card li {
        font-size: 3vw;
    }

    .offer-card .details ul {
        font-size: 3vw;
    }

    .mission-card, .offer-card {
        flex-direction: column;
    }

    .mission-card .image, .offer-card .image {
        width: 100%;
        height: 200px;
    }

    .mission-card .details, .offer-card .details {
        width: 100%;
    }
}
