* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

body {
    background: url('/Public/img/Wallpaper.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #ecf0f1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-size: 16px;
    backdrop-filter: blur(5px);
    background-color: rgba(0, 0, 0, 0.5);
}

.container {
    background: rgba(0, 0, 0, 0.65);
    border-radius: 12px;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
    padding: 20px;
    max-width: 400px;
    width: 100%;
    text-align: center;
    transition: background 0.3s ease;
}

h2 {
    color: white;
    margin-bottom: 25px;
    font-size: 2.5em;
    font-weight: 600;
}

form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
    text-align: left;
}

input,
select {
    width: 100%;
    padding: 12px;
    margin-top: 8px;
    height: 40px;
    border: 1px solid #7f8c8d;
    border-radius: 8px;
    font-size: 1em;
    background-color: #34495e;
    color: #ecf0f1;
    transition: border-color 0.3s ease, background-color 0.3s ease;
}

button {
    background: linear-gradient(to right, #1d976c, #93f9b9);
    color: white;
    padding: 14px;
    border: none;
    border-radius: 8px;
    font-size: 1.2em;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

button:hover {
    background: linear-gradient(to right, #1d976c, #93f9b9);
    transform: scale(1.05);
}

#message {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px;
    border-radius: 8px;
    z-index: 9999;
    max-width: 90%;
    display: none;
    font-size: 16px;
    text-align: center;
}
.success {
    background-color: #4caf50;
    color: white;
}

.error {
    background-color: #f44336;
    color: white;
}

p {
    font-size: 1em;
    margin-top: 20px;
}

a {
    color: #1abc9c;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}

@media (max-width: 768px) {
    .container {
        padding: 20px;
        margin: 0 20px;
    }

    h1 {
        font-size: 2.2em;
    }

    label {
        font-size: 1em;
    }
}